
body {
  background-color: DarkGray;
}

p {
  font-family: Georgia, serif;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
}

header {
  background-image: url("../images/dmitrij-paskevic-44124-sm.jpg");
  height: 200px;
  padding: 30px;
}

header h1 {
  color: white;
  font-size: 5em;
  font-family: Georgia, serif;
}

.btn-basic {
  color: black;
  font-size: 1em;
}

.btn-lg {
  background-color: lightgrey;
  border: 1px solid whitesmoke;
  width: 200px;
}

.btn-lg:hover {
  background-color: whitesmoke;
  border: 1px solid grey;
}

.col {
  padding: 0 24px;
}

.container-fluid {
  padding: 24px;
}

.catalog, .manage {
  background-color: Gainsboro;
  border-radius: 8px;
  margin-bottom: 40px;
  min-height: 200px;
  padding:  20px;
}

.well {
  min-height: 300px;
  background-color: black;
  border-radius: 8px;
  color: white;
  border: none;
}

.results {
  font-size: 1.2em;
  font-family: Courier;
  margin-bottom: 40px;
}

.results h3 {
  color: darkGray;
}

#reset-form {
  border: none;
  background-color: transparent;
  color: #337ab7;
  font-weight: bold;
}

.below-search {
  margin-top: 40px;
}

.lower .well {
  margin: 2%;
  padding: 2%;
}

.lower .left {
  margin-left: 2%;
}

.manage-buttons .title {
  display: inline-block;
}

.manage-buttons .btn {
  float: right;
  margin: 10px 15px 0 0;
}

.block {
  display: inline-block;
  height: 200px;
  width: 200px;
  padding: 10px;
  margin: 5px;
  background-color: white;
  color: black;
}

/* #book-form, #multi-book-form, #remove-author, #remove-title  {
  display: none;
} */

.editing input {
  width: 24%;
  height: 40px;
  text-align: center;
}
